/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
	padding: 4rem 0;
	text-align: center;
	position: relative;
	overflow: hidden;
	background: radial-gradient(90.28% 246.76% at 73.47% 35.25%, #f87247 0%, #274ff5 100%) !important;
	margin: 0 20px;
	border-radius: 20px;
}

@media screen and (max-width: 996px) {
	.heroBanner {
		padding: 2rem;
		margin: 0 5px;
	}
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}
