/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
	--ifm-color-primary: #3d419a;
	--ifm-color-primary-dark: #4c5880;
	--ifm-color-primary-darker: #374267;
	--ifm-color-primary-darkest: #2c3450;
	--ifm-color-primary-light: #5e6990;
	--ifm-color-primary-lighter: #6d79a4;
	--ifm-color-primary-lightest: #727fad;
	--ifm-code-font-size: 95%;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
	--ifm-color-primary: #ff8a24;
	--ifm-color-primary-dark: #f97400;
	--ifm-color-primary-darker: #dc7113;
	--ifm-color-primary-darkest: #c65c00;
	--ifm-color-primary-light: #5e6990;
	--ifm-color-primary-lighter: #6d79a4;
	--ifm-color-primary-lightest: #727fad;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
